BODY > A IMG { max-width: 18.9%; }


/*.......................................................................*/


A + DIV { display: inline-block; background-color: white; max-width: 35%; }


DIV IMG { max-width: 49.29%; }