BODY > A IMG { max-width: 18.42%; }


/*.........................................................................*/


A + DIV { display: inline-block; background-color: white; max-width: 36.2%; }


DIV IMG { max-width: 49.29%; }