BODY { background-image: url("Barbie-laptop.jpg"); font-family: "Segoe Script", "Segoe Print", 'MV Boli', Gabriola, cursive; list-style-image: url("Barbie-laptop-1.jpg"); }


/*........................................................................................................................................................................*/


H1 { text-align: center; }


H1 A { text-decoration: none; color: black; }


A SPAN { letter-spacing: 0.1em; }


H1 > SPAN, ADDRESS > UL > LI { color: fuchsia; }


/*........................................................................................................................................................................*/


HR { display: none; }