BODY > A IMG { max-width: 37.4%; }


/*...............................................................................................*/


A + DIV { display: inline-block; vertical-align: top; background-color: white; max-width: 13.05%; }


BODY * A IMG { max-width: 100%; }