BODY > A IMG { max-width: 21.93%; }


/*.....................................................................*/


A + DIV { vertical-align: top; margin-bottom: 0.35em; max-width: 33.66%; }


A + DIV IMG { max-width: 47.9%; }


/*.....................................................................*/


A + DIV, DIV + DIV { display: inline-block; background-color: white; }


/*.....................................................................*/


DIV + DIV { max-width: 34.4%; }


DIV + DIV IMG { max-width: 49.2%; }