BODY > A IMG { max-width: 39.7%; }


/*...............................................................................................*/


A + DIV { display: inline-block; vertical-align: top; background-color: white; max-width: 14.15%; }


BODY * A IMG { max-width: 100%; }