BODY { background-image: url("Barbie-laptop.jpg"); font-family: "Segoe Script", "Segoe Print", 'MV Boli', Gabriola, cursive; list-style-image: url("Barbie-laptop-1.jpg"); }


/*........................................................................................................................................................................*/


H1, ADDRESS { text-align: center; }


H1 A, LI A:first-child, DIV SPAN { text-decoration: none; color: black; }


A SPAN { letter-spacing: 0.1em; }


H1 > SPAN, DIV > UL > LI { color: fuchsia; }


/*........................................................................................................................................................................*/


H1 + HR, HR + DIV + HR, H2 { display: none; }


/*........................................................................................................................................................................*/


HR + DIV { float: left; max-width: 50%; }


#Barbie-laptop { background-color: yellow; }


/*........................................................................................................................................................................*/


IMG { border-style: none; }


/*........................................................................................................................................................................*/


#Barbie-laptop-1 { clear: left; visibility: hidden; }