H2 + DIV { display: inline-block; background-color: white; max-width: 23.59%; }


/*...........................................................................*/


A:first-child IMG { max-width: 100%; }


A + A IMG { max-width: 47%; }