H2 + A IMG { max-width: 19.52%; }


/*...................................................................................................................*/


A + DIV { display: inline-block; vertical-align: top; background-color: white; margin-bottom: 0.37em; max-width: 42%; }


DIV IMG { max-width: 32%; }


/*...................................................................................................................*/


DIV + A IMG { max-width: 25.81%; }