H2 + DIV { display: inline-block; background-color: white; margin-bottom: 0.37em; max-width: 50%; }


DIV IMG { max-width: 32%; }


/*...............................................................................................*/


BODY > A IMG { max-width: 34.8%; }